body {
  font-family: sans-serif;
}
body {
  margin: 0 auto;
  max-width: 950px;
  max-height: 250px;
  padding: 25px;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
ul {
  display: flex;
  flex-direction: row;
  padding-left: 0rem;
  justify-content: space-between;
}
img {
  list-style: none;
  margin: 0 auto;
  border-radius: 10px;
  transition: all 3000ms ease-in-out;
  width: 50px;
}

li {
  list-style: none;
}
input {
  outline: 0;
  border-width: 0 0 2px;
  border-color: #6287a1 !important;
  width: 350px;
}

.btn-secondary {
  --bs-btn-bg: #6287a1;
  --bs-btn-border-color: #6287a1;
  --bs-btn-hover-color: #6287a1;
  --bs-btn-hover-bg: #6287a1;
  --bs-btn-hover-border-color: #6287a1;
  --bs-btn-active-color: #6287a1;
  --bs-btn-active-bg: #6287a1;
  --bs-btn-active-border-color: #6287a1;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #6c757d;
  --bs-btn-disabled-border-color: #6c757d;
}
.big-icon {
  width: 200px;
}
.big-icon:hover {
  transform: rotate(365deg);
}
.week-days {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  font-weight: bold;
}
.icon {
  margin-top: -10px;
  margin-bottom: -2px;
  padding-bottom: 5px;
}
p {
  color: grey;
}

.wrapper {
  width: 100%;
  padding: 50px;
}
.week-weather-wrapper {
  justify-content: space-between;
  padding-top: 10px;
}
.container {
  padding-left: 0px;
}

.city-descriptions {
  padding-top: 60px;
}
.abc {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  line-height: 10px;
  padding-bottom: 20px;
}

.city-name {
  font-size: 50px;
  padding-bottom: 40px;
  margin-top: -20px;
}
.temperature {
  font-size: 90px;
}
